.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
/* .group {
  height: 752px;
  width: 387px;
  background-color: aqua;
  display: flex;
  align-items: flex-end;
  justify-content: center;
} */
.fundo {
  height: 720px;
  width: 360px;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.steps {
  height: 40px;
  width: 360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
.produtos {
  height: 347px;
  width: 341px;
  display: flex;
  border: 1px solid gray;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}
.products {
  width: 316px;
  height: 90px;
  margin-bottom: 15px;
  border: 1px solid gray;
  align-items: center;
  display: flex;
  justify-content: center;
}
.products-details {
  display: flex;
  align-items: center;
  width: 300px;
  height: 70px;
}
.products-label {
  font-size: 14px;
  font-weight: bold;
}
.item {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-description {
  font-size: 12px;
  margin-left: 20px;
}
.price-description {
}
.price {
  font-size: 14px;
  text-align: end;
}
.extra-large {
  height: 60px;
  width: 341px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.total {
  height: 129px;
  width: 341px;
  border: 1px solid gray;
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.total-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 14px;
  height: 100px;
}
.total-value {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 14px;
  height: 100px;
}
.subtotal,
.shipping-total,
.total-total,
.discount {
  font-size: 14px;
}
.subtotal-value,
.shipping-total-value,
.total-total-value,
.discount-value {
  font-size: 14px;
}
.payment-button {
}

.cart {
  height: 16px;
  width: 61px;
  color: #ff7800;
  font-family: 'Helvetica Neue';
  font-size: 13px;
  font-weight: 700;
  letter-spacing: NaNpx;
  line-height: 16px;
  text-align: center;
}
.payment {
  height: 16px;
  width: 89px;
  color: #ccc;
  font-family: 'Helvetica Neue';
  font-size: 13px;
  font-weight: 700;
  letter-spacing: NaNpx;
  line-height: 16px;
  text-align: center;
}
.confirmation {
  height: 16px;
  width: 101px;
  color: #ccc;
  font-family: 'Helvetica Neue';
  font-size: 13px;
  font-weight: 700;
  letter-spacing: NaNpx;
  line-height: 16px;
  text-align: center;
}
